<div id="banner">
  <div class="banner_content">
    <h1> Shuttersbank</h1>
    <p>Beautiful, free photos.</p>
    <p>Gifted by the world’s most generous community of photographers.</p>
  </div>

  <div class="share_box">
    <!--Facebook-->
      <a href="https://www.facebook.com/pages/feccbok/244971538850523"><%= image_tag("facebook.svg", class: "icon", alt: "Edit Entry") %></a>
    <!--Twitter-->
      <a href="https://twitter.com/"><%= image_tag("twitter.svg", class: "icon", alt: "Edit Entry") %></a>
    <!--Google +-->
      <a href="https://plus.google.com/discover"><%= image_tag("google-plus.svg", class: "icon", alt: "Edit Entry") %></a>
    <!--Linkedin-->
      <a href="https://www.linkedin.com/"><%= image_tag("linkedin.svg", class: "icon", alt: "Edit Entry") %></a>
    <!--Instagram-->
      <a href="https://www.instagram.com/"><%= image_tag("instagram.svg", class: "icon", alt: "Edit Entry") %></a>
    <!--Pinterest-->
      <a href="https://www.pinterest.com/"><%= image_tag("pinterest.svg", class: "icon", alt: "Edit Entry") %></a>
    <!--Youtube-->
      <a href="https://www.youtube.com/"><%= image_tag("youtube.svg", class: "icon", alt: "Edit Entry") %></a>
    <!--Vkontakte-->
      <a href="https://vk.com/im"><%= image_tag("vk.svg", class: "icon", alt: "Edit Entry") %></a>
    <!--Github-->
      <a href="https://github.com/"><%= image_tag("github-logo.svg", class: "icon", alt: "Edit Entry") %></a>
  </div>
</div>

<div class="tags-field">
  <div class="col-md-8">
      <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: "btn btn-primary" %>
      <% end %>
  </div>
</div>

<div class="pins-block">
  <div class="transitions-enabled" id="pins">
    <% @pins.each do |pin| %>
      <div class="box panel panel-default">
        <%= link_to (image_tag pin.image.url(:thumb)), pin %>
        <div class="panel-body">
          <h2><%= link_to pin.title, pin %></h2>
          <p>
           <small>
              <time><%= pin.created_at.to_date.strftime("%d %B, %Y") %></time>
            </small>
          </p>
          <p><strong><%= link_to pin.user.username, user_path(pin.user.username) %></strong></p>
          <p><%= pin.description %></p>

          <p class="user"></p>
          Submitted by
          <%= pin.user.email %>
        </div>
      </div>
    <% end %>
  </div>
</div>
