<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html></html>
<header>
  <title>Shuttersbank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</header>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Shuttersbank", root_path %>
      </div>
        <% if user_signed_in? %>
          <ul class='nav navbar-nav navbar-left' style="margin-top: 8px;">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Categories
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                  <li><%= link_to('Category settings', admin_categories_path, { tabindex: '-1' })%></li>
                <% end %>
                <% Category.where(ancestry: nil).each do |category| %>
                  <% if category.children.blank? %>
                    <li><a tabindex="-1" href="#"><%= "#{category.name}"%></a></li>
                  <% else %>
                    <li class="dropdown-submenu">
                      <a class="test" tabindex="-1" href="#"><%= "#{category.name}"%><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <% category.children.each do |child| %>
                          <% if current_user.admin? %>
                            <li><%= link_to(child.name, edit_admin_category_path(child.id), { tabindex: '-1' })%></li>
                          <% else %>
                            <li><%= link_to(child.name, category_path(child.id), { tabindex: '-1' })%></li>
                          <% end %>
                        <% end %>
                      </ul>
                    </li>
                  <% end%>
                <% end %>
              </ul>
            </div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= form_tag search_pins_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
              <p>
                <%= text_field_tag :search, params[:search], class: "form-control" %>
                <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
              </p>
            <% end %>

            <li><%= link_to "New Pin", new_pin_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to(image_tag(current_user.avatar.url), edit_user_registration_path) %></li>
            <li><%= link_to current_user.username , edit_user_registration_path %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sing In", new_user_session_path %></li>
          </ul>
        <% end %>
    </div>
  </nav>

  <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
  </div>
  </body>
    <%= yield  %>
  </body>

